<%# TAB-BAR %>
<div class="tabs-bar d-flex">
  <%= link_to "Opinions", opinions_path, class: "tab-item uppercase bold" %>
</div>

<%# MAIN CONTENT %>
<main class="main-content">
  <div class="latest-opinions">
    <% Opinion.latest_opinions.each do |opinion| %>
      <div class="opinion-card d-flex">
        <%= image_tag opinion.author.photo, size: '40', class: 'opinion-card-image' %>
        <div>
          <%= link_to opinion.author.full_name, user_path(opinion.author), class: 'opinion-card-author bold' %> <br>
          <p class="opinion-card-text"><%= opinion.text %></p>
        </div>
      </div>
    <% end %>
  </div>
</main>

<%# RIGHT PANEL %>
<div class="right-panel">
  <div class="who-to-follow-section">
    <div class="right-panel-section-heading bold uppercase">
      Who to follow
    </div>
    <div class="who-to-follow-wrapper">
      <% current_user.latest_users.each do |u| %>
        <div class="who-to-follow-card d-flex">
          <%= image_tag u.photo, size: '40', class: 'who-to-follow-photo' %>
          <%= link_to u.full_name, user_path(current_user), class: 'who-to-follow-name bold' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
