<%# TABS BAR %>
<div class="tabs-bar d-flex">
  <%= link_to "Opinions", opinions_path, class: "tab-item uppercase bold" %>
</div>

<%# MAIN CONTENT %>
<main class="main-content">
  <div class="new_opinion">
    <%= render 'opinions/form' %>
  </div>
  <div class="latest-opinions">
    <% @opinions.each do |opinion| %>
      <div class="opinion-card d-flex">
        <%= image_tag opinion.author.photo, size: '60', class: 'opinion-card-image' %>
        <div>
          <%= link_to opinion.author.full_name, user_path(opinion.author), class: 'opinion-card-author bold' %>
          <span class="opinion-date"><%= post_date_time(opinion.created_at) %></span>
          <p class="opinion-card-text"><%= opinion.text %></p>
        </div>
      </div>
    <% end %>
  </div>
</main>

<%# WHO TO FOLLOW RIGHT PANEL %>
<div class="right-panel">
  <div class="who-to-follow-section">
    <div class="right-panel-section-heading bold uppercase">
      Who to follow
    </div>
    <div class="who-to-follow-wrapper">
      <% current_user.latest_users.each do |u| %>
        <% if u != current_user %>
          <div class="who-to-follow-card d-flex">
            <%= image_tag u.photo, size: '60', class: 'who-to-follow-photo' %>
            <%= link_to u.full_name, user_path(u), class: 'who-to-follow-name bold' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
