<%# TAB-BAR %>
<div class="tabs-bar d-flex">
  <%= link_to "Opinions", opinions_path, class: "tab-item uppercase bold" %>
</div>

<%# MAIN CONTENT %>
<main class="main-content">
  <h1>User Profile</h1>

  <%= follow_btn(@user) %>

  <h2><%= @user.full_name %></h2>
  <p>@<%= @user.username %></p>
  <p><%= @user.photo %></p>
  <p><%= @user.cover_image %></p>

  <br><br>
  <%= link_to 'All users', users_path %>
  <br><br>
  <%= link_to 'Edit user', edit_user_path(@user) %>
  <br><br>
  <%= button_to 'Delete user', @user, method: :delete %>
</main>

<%# RIGHT PANEL %>
<div class="right-panel">
  <div class="who-to-follow-section">
    <div class="right-panel-section-heading bold uppercase">
      <%= @user.full_name %>
    </div>

  </div>
</div>