<div class="nav-bar d-flex">
  <%= image_tag 'logo.png', size: '50', class: "nav-logo" %>
  <div class="navbar-icons d-flex">
    <%= pencil_icon(30) %>
    <%= envelope_icon(30) %>
    <%= magnifier_icon(30) %>
    <%= gear_icon(30) %>
  </div>
</div>
