<!DOCTYPE html>
<html>
  <head>
    <title>Goodbooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <p><%= alert || notice if alert || notice %></p>

    <%= link_to current_user.username, user_path(current_user) if logged_in? %>
    <br>
    <br>
    <%= button_to 'Log out', logout_path, method: :delete if logged_in? %>
    <hr>
    <%= yield %>
  </body>
</html>
