<!DOCTYPE html>
<html>
  <head>
    <title>Goodbooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice_and_alert %>
    <div class="nav-panel"> <%= nav_panel %> </div>
    <%= render 'layouts/nav_bar' %>
    <div class="container">
      <%= yield %>    
    </div>    
  </body>
</html>
